
.region .view.TemplateModuleView.active {
    margin-left: 5px;
    margin-right: 5px;
}

.template-module-view
{
    z-index: 100;
    width: 50%;
    display:inline;
    background: white;
    color: black;
    padding: 6px;
    margin-left: 5px;
}
.scanNotFound{
    color:red;
}



th{
width:150px;
font-size:10;
text-align:left;
}

#scanAttributes, #replaceScanAttributes,#DesignFeaturesWithin30m{
color:white;
margin-bottom : 5px ;
height: 120%;
background-color:gray;

}
#WhenScanComplete{
display: none;
}
#barcodeFound{
font-style:italic;
margin : 0 0 10 0 ;
}
#scanCode{
color:green;
}
#replaceScanCode{
color:green;
}
#checkboxes{
margin:0 0 10 0;
}
tr
{
font-size:10;
}
#positionDiv{
margin: 10 0 0 0 ;
}
#gpsPosition,#txtScanText{
color: blue;
}
#positionText{
display:inline;
vertical-align:8px;
}
#scanText{
display:inline;
vertical-align:8px;
}
#removeReplace{
display:none;
}
#btnReplaceScan
{
margin:0 0 20 0 ;
color:green;
}
#btnScan{
color:green;
}
#noDFCFeaturesFound{
display:none;
}
#installJunctionEdge{
display:block;
}
table, td, th {
    border: 1px solid lightgray;
    padding:3px;
    width:150px;
}
#MatchingCUCode{
font-size:14;
font-weight:bold;
color:green;
}
#demoConditions{
background-color : green ;
display:none;
}

#replaceTable{
display:none;
}
#confirmButtons,#replaceButtons,#removeButtons, #installButtons{
display:none;
margin:0 0 20 0 ;
}
#not{
display:none;
}
#dfcFeaturesFound
{
color:green;
}
#workfunctions{
margin:0 0 30 0;
}